@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
body, html{
  margin: 0;
    padding: 0;
  /*font styles*/
  font-family: titillium Web, sans-serif;
  /*background styles*/
  background: linear-gradient(120deg, #00a8ff, #9c88ff, #00a8ff);
  background-size: cover;
}
.s1{
   margin: 0;
    padding: 0;
  width: auto;
  height: 100%;
  /*font styles*/
  font-family: titillium Web, sans-serif;
  /*background styles*/
  background: linear-gradient(120deg, #9c88ff, #00a8ff);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.s1 h1{
/*text settings*/
  text-align: center;
  font-size: 90px;
  font-color: #f5f6fa;
}
.s1 h2{
  /*text settings*/
  text-align: center;
  font-size: 86px;
  font-color: #f5f6fa;
}
.animate {
  /*animation*/
  animation: fade-in 2s 200ms;
}
@keyframes fade-in{
  0% (opacity: 1;)
  50% (opacity: 0.25;)
  100% (opacity: 1;)
}
