@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
html, body {
  margin: 0;
    padding: 0;
  /*font styles*/
  font-family: Titillium Web, sans-serif;
  /*background styles*/
  background-image: linear-gradient(120deg,#9c88ff,#00a8ff);
  background-size: cover;
}
h1{
/*text settings*/
  text-align: center;
  font-size: 90px;
  font-color: #f5f6fa;
}
h2{
  /*text settings*/
  text-align: center;
  font-size: 86px;
  font-color: #f5f6fa;
}
.animate {
  /*animation*/
  animate fade-in 400ms;
}
@keyframes fade-in{
  0% (opacity: 0;)
  100% (opacity: 1;)
}
