@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
body, html{
  margin: 0;
    padding: 0;
  /*font styles*/
  font-family: titillium Web, sans-serif;
  /*background styles*/
  background: linear-gradient(120deg, #9c88ff, #00a8ff);
  background-size: cover;
}
h1{
/*text settings*/
  text-align: center;
  font-size: 90px;
  font-color: #f5f6fa;
}
h2{
  /*text settings*/
  text-align: center;
  font-size: 86px;
  font-color: #f5f6fa;
}
.animate {
  /*animation*/
  animate fade-in 2s;
}
@keyframes fade-in{
  0% (opacity: 1;)
  50% (opacity: 0.25;)
  100% (opacity: 1;)
}
